.blog {
  border-radius: 8px;
  border: 1px solid #000;
}

.blog__title {
  color: #111827;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.blog__body {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  min-height: 328px;
}

.blog__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.blog__avatar-and-date {
  display: flex;
  align-items: center;
  gap: 12px;
  bottom: 24px;
  margin-top: auto;
}

.blog__avatar-and-date-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.blog__avatar-and-date-descr {
  color: #6b7280;
  font-size: 14px;
  line-height: 28px;
}

.blog__img {
  height: 192px;
  width: 100%;
  object-fit: cover;
}

@media (width < 1024px) {
  .blog {
    grid-column: span 3 / span 3;
  }
}
