.footer {
  background-color: #6a6a6a;
}

.footer__text {
  color: #fff;
  text-align: right;
  font-size: 11px;
  line-height: 20px;
  padding: 44px 0;
}

@media (width < 1280px) {
  .footer__text {
    padding: 33px 0;
  }
}

@media (width < 768px) {
  .footer__text {
    padding: 20px 0;
  }
}

@media (width < 576px) {
  .footer__text {
    padding: 15px 0;
    font-size: 10px;
  }
}
