.inretesting-states {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 88px;
  padding-bottom: 88px;
}

.inretesting-states__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.inretesting-states__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.inretesting-states__title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.8px;
  align-self: stretch;
}

.inretesting-states__description {
  color: #6b7280;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
}

.inretesting-states__wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

@media (width < 1280px) {
  .inretesting-states__banner {
    gap: 30px;
  }

  .inretesting-states__header {
    gap: 10px;
  }

  .inretesting-states__title {
    font-size: 24px;
  }

  .inretesting-states__description {
    font-size: 16px;
  }
}

@media (width < 1024px) {
  .inretesting-states {
    padding-top: 77px;
    padding-bottom: 77px;
  }
}

@media (width < 768px) {
  .inretesting-states {
    display: block;
  }
}

@media (width < 576px) {
  .inretesting-states {
    padding-bottom: 40px;
  }
}
