.news-banner__left {
  padding: 30px;
  background-color: #fcffe7;
  border: 1px solid #000;
}

.news-banner__left-title {
  font-size: 20px;
  font-weight: 500;
}

.news-banner__left-list {
  list-style-position: inside;
  padding-top: 16px;
  font-size: 16px;
  line-height: 20px;
}

.news-banner__left-list-item {
  list-style-type: disc;
}
