.trailing {
    color: #F5F5F5;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
}

.trailing__avatar {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.trailing__text{
    text-align: center;
    font-size: 15px;
    line-height: 20px;
}