.useful-information {
  padding-top: 88px;
}

.useful-information__title {
  font-size: 32px;
  font-weight: 700;
}

.news-banner {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 21px;
}
