.useful-information {
  padding-top: 88px;
}

.useful-information__title {
  font-size: 32px;
  font-weight: 700;
}

@media (width < 1280px) {
  .useful-information {
    padding-top: 40px;
  }

  .useful-information__title {
    font-size: 24px;
  }
}

@media (width < 768px) {
  .useful-information__title {
    font-size: 16px;
  }
}

@media (width < 576px) {
  .useful-information {
    padding-top: 20px;
  }
}
